.dashboard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard h2 {
  font-size: 2.2em;
  margin-bottom: 0.5em;
}

.dashboard p {
  columns: #aaa;
  margin-bottom: 1em;
}

.noposts {
  text-align: center;
}

.noposts p {
  margin-bottom: 1.5em;
}

.noposts a {
  padding: 10px 25px;
}

.post_header, .post_row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 10px;
}

.post_header {
  font-weight: bold;
  border-bottom: 2px solid rgb(36, 36, 36, 0.8);
}

.post_row {
  align-items: center;
  border-bottom: 1px solid #4d4d4d;
}

.post_row div {
  display: flex;
  padding: 5px 1px;
}

.post_row p {
  color: #000;
}


.post_row a {
  margin: 0.5px;
  height: 20px;
  width: 40px;
  font-size: 0.7em;
  margin-left: 8px;
}

.post_row button {
  height: 35.6px;
  width: 100px;
  font-size: 0.7em;
  margin-left: 8px;
  margin-top: 0.5px;
}