.navbar {
  display: flex;
  box-shadow: rbba(0,0,0, .15) 0px -3px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: .5em 2em;
  background-image: linear-gradient(to left, #93C6E7, #FEDEFF);
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.brand {
  display: flex;
}

.brand .cloudIcon {
  display: flex;
  margin-left: 8px;
  width: 15px;
}

.links_list {
  display: flex;
  list-style: none;
}

.links_list a, button {
  display: flex;
  padding: .4em .6em;
  align-items: center;
  flex-direction: column-reverse;

}

.active {
  /* background-color: #000; */
  color: #7286D3;
}

.cloudIcon {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}